@import "tailwindcss";
 @plugin "daisyui" {
  themes: light --default;
 }
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: blue;
  --color-secondary: teal;
}

.btn-primary{
  @apply bg-[#4A89F7] hover:bg-[#3a75e2] transition duration-300 ease-in-out mt-4 shadow-2xl
}